<div class="container">
    <div class="row">
  
  
      <div class="col-md-6 mt-3">
  
  
  
        <form action="/admin/add-category" method="post" enctype="multipart/form-data">
       
        <label for="Category"> ADD Category</label>
        <input type="text" name="name" class="form-control">

  
        <button type="submit" class="btn btn-primary mt-3" value="Upload">Upload</button>
  
        </form>
  
  
  
  
  
  
      </div>
  
    </div>
  </div>