<div class="table-responsive pt-3">
    <a href="/admin/add-coupon" class="btn btn-primary my-3">add Coupon</a>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            catogory
          </th>
          <th>
            ADD catogory
          </th>
  
  
        </tr>
      </thead>
      <tbody>
       
  <tr>
    <td>

    </td>
    <td>
    
    </td>
    <td>
 <a href="/admin/edit-catego" class="btn btn-success">edit</a>
 <a href="/admin/delete-catego" class="btn btn-danger" onclick="return confirm('are you sure')" >delete</a>
    </td>
   
  </tr>

      </tbody>
    </table>
  </div>