<div class="container">
  <div class="row">


    <div class="col-md-6 mt-3">



      <form action="/admin/edit-category/<%= category._id %> " method="post" enctype="multipart/form-data">

        <label for="Category"> EDIT Category</label>
        <input type="text" name="name" class="form-control" value="<%= category.name %>" required>


        <button type="submit" class="btn btn-primary mt-3" value="Upload">Submit</button>

      </form>





    </div>

  </div>
</div>